*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input{
    display: none;
    text-align: center;
    margin: 100px 0;
}
.list{
    text-align: center;
    margin: 100px 0;
}
.inputValue{
    height: 50px;
    width: 500px;
    background-color: #e7e7e7;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    padding: 10px 10px;  
}
input[type="text"]{
    height: 50px;
    width: 500px;
    background-color: #e7e7e7;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    padding: 10px 10px;
}
input[type="submit"]{
    height: 50px;
    width: 100px;
    background-color: #e7e7e7;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
}
.weather{
    height: 204px;
}
.WIcon{
    float: left;
}
.WContent{
    margin-top: 34px;
    float: left;
}
.location{
    font-size: 24px;
    font-weight: bold;
}
.temp{
    font-size: 46px;
    font-weight: bold;
}
.description{
    float: left;
    font-weight: bold;
    margin-right: 4px;
}
.feels_like{
    float: right;
    color: #666666;
}
.temp_max{
    float: left;
    font-size: 14px;
    margin-right: 12px;
    color: #fc4c4e;
}
.temp_min{
    float: left;
    font-size: 14px;
    color: #32aaff;
}
